@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

#root {
  width: 100vw;
  height: 100dvh;
  background-image: url('./img/bg-image.jpg');
  background-size: cover;
  background-position: center;
}
