@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: black;
}

#root {
  width: 100vw;
  height: 100dvh;
}

.dialog__container {
  width: 100vw;
  height: 100dvh;
  z-index: 50;
}
